.app{
  width: 100vw;
  height: 100vh;
  background-color: rgb(188, 196, 195);
}
.header-container {
  position: fixed;
  z-index: 50;
  width: 100vw;
  height: 13vh;
  display: flex;
  justify-content: center;
  background-color: rgb(165, 192, 188);
  

}
.header{
  width: 70vw;
  height: 10vh;
  color: gray
}
.icon {
  margin: 2vw;

  width: 15vw;
  height: 10vh;

}
body{
  background-color: rgb(188, 196, 195);
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  color: black;
  text-align: center;
  font-size: 4vh;

}
div {
  text-align: center;

}
input {
  color: black
}


button {
  display: auto;
}

.bookTitle {
  font-size: 30px;
}
.footer{
  position: fixed;
  z-index: 50;
  bottom:0;
  width: 100vw;
  height: 11vh;
  display: flex;
  justify-content: space-between;
  background-color: rgb(165, 192, 188);


}
.search-bar {
  width: 70vw;
  height: 8vh;
  margin-top: 12vh;
}
.placeholder{
  font-size: 25px;
}
.account-form{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 50vh;
}
.container {
  /* position: absolute; */
  top: 10vh;
  margin-top: 15vmax;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: wrap;
  justify-content:space-evenly 
  /* align-items: center; */
}
.search-page-container{
  position: absolute;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  margin-top: 20vh;
}

.user-container{
  position: absolute;
  top: 10vh;
  width: 100vw;
  height: 90vh;
}
.form-create-book-club{
  position: absolute;
  top: 10vh;
  width: 100vw;
  height: 90vh;
}
.form-create-account{
  position: absolute;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 50vh;
}
.book-club-page{
  position: absolute;
  top: 12vh;
  width: 92vw;
  height: 78vh;
  margin: 2vmax;
}
.form-edit-book-club{
  position: absolute;
  top: 10vh;
  width: 100vw;
  height: 90vh;
}

.bookSuggestion {
  margin: 2vmax;
  padding: 2vmax;
  width: 27vw;
  height: 30vh;
}

.thumbnail-title{
  display: flex;
  width: 90vw;
  height: 35vh;
  top: 18vh;
}
.thumbnail {
  margin: 3vmax;
  width: 40vw;
  height: 35vh;
  top: 18vh;
}
.title {
  width: 40vw;
  height: 35vh;
  top: 18vh;
}
.description {
  width: 90vw;
  height: 47vh;
  top: 65vh;
  margin: 1vmax;
  margin-bottom: 2vh;
}
.single-book{
  position: absolute;
  margin: 2vmax;
  margin-bottom: 20vh;
  top: 16vh;
  width: 90vw;
  height: 87vh;
}

.userTop-container {
  
  display: flex;
  width: 90vw;
  height: 35vh;
  top: 18vh;
}
.profilePic{
  margin-top: 20vmax;
  padding-top: 2vmax;
  object-fit: contain;
  margin: 3vmax;
  width:  auto;;
  height: auto;
  top: 18vh;
}
.userInfo {
  margin-top: 2vmax;
  padding-top: 2vmax;
}
.suggestionContainer {
  display: flex;
  justify-content: center;
}
.bookSingle-button-container{
  margin-bottom: 18vh;
}

.captureImage {
  width: '50%'
}

.booksDatabaseList {
  width: 40vw;
  
}

.allbooks {
  top: 10vh;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: wrap;
}