.app{
  width: 100vw;
  height: 100vh;
  background-color: rgb(188, 196, 195);
}
.header-container {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;

}
.header{
  width: 70vw;
  height: 10vh;
  color: gray
}
.icon {
  margin: 2vw;

  width: 15vw;
  height: 10vh;

}
body{
  background-color: rgb(188, 196, 195);
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  color: blue;
  text-align: center;

}
div {
  text-align: center;

}
input {
  color: black
}


button {
  display: auto;
}

.title {
  font-size: 30px;
}
.footer{
  position: absolute;
  bottom:0;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;

}
.search-bar {
  width: 70vw;
  height: 8vh;
  margin-top: 12vh;
}
.placeholder{
  font-size: 25px;
}
.account-form{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 50vh;
}